{{!< default}}
{{>"tag-search"}}

<main class="site-main">
	<div class="term-container gh-canvas">
		<section class="term tag-title-underline">
			<h1 class="term-name">Enterprise</h1>
			{{#if description}}
				<div class="term-description">{{description}}</div>
			{{/if}}
		</section>
	</div>

	{{#get "tags" limit='all'}}
	<div class="post-feed gh-canvas">
		<div class="topic-feed">
			{{#foreach tags}} 
				{{#has slug="primeros-pasos-enterprise" limit="1" }}
				<a href="/tag/primeros-pasos-enterprise/">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}} 

			{{#foreach tags}} 
				{{#has slug="agente" limit="1" }}
				<a href="/tag/agente">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}} 
			
			{{#foreach tags}} 
				{{#has slug="usuarios-enterprise" limit="1" }}
				<a href="/tag/usuarios-enterprise">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}} 

			{{#foreach tags}} 
				{{#has slug="campanas-enterprise" limit="1" }}
				<a href="/tag/campanas-enterprise/">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}} 

			{{#foreach tags}} 
				{{#has slug="templates-enterprise" limit="1" }}
				<a href="/tag/templates">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}} 

			{{#foreach tags}} 
				{{#has slug="tablero-enterprise" limit="1" }}
				<a href="/tag/tablero-enterprise/">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}} 
		</div>
	</div>
	 {{/get}}

</main>