{{!< default}}
{{>"tag-search"}}


<main class="site-main">

	<div class="term-container gh-canvas">
		<section class="term tag-title-underline">
			<h1 class="term-name">Franquicias</h1>
			{{#if description}}
				<div class="term-description">{{description}}</div>
			{{/if}}
		</section>
	</div>

	{{#get "tags"  limit='all'}}
	<div class="post-feed gh-canvas">
		<div class="topic-feed">
			{{#foreach tags}} 
				{{#has slug="primeros-pasos-franquicias" limit="1" }}
				<a href="/tag/primeros-pasos-franquicias">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}} 
			{{#foreach tags}} 
				{{#has slug="usuarios-franquicias" limit="1" }}
				<a href="/tag/usuarios">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}}
			{{#foreach tags}} 
				{{#has slug="configuracion-franquicias" limit="1" }}
				<a href="/tag/configuracion-franquicias/">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}}
			{{#foreach tags}} 
				{{#has slug="tienda-franquicias" limit="1" }}
				<a href="/tag/tienda">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}}
			{{#foreach tags}} 
				{{#has slug="graficas-franquicias" limit="1" }}
				<a href="/tag/tablero-franquicias/">
				{{>"tags-loop-image"}}
				</a>
				{{/has}}
			{{/foreach}} 
		</div>
	</div>
	 {{/get}}

</main>