{{!< default}}

<main class="site-main">

	<div class="term-container gh-canvas">
		<section class="term">
			<h1 class="term-name">Tablero, mensajes y equipo</h1>

		</section>
	</div>

	{{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}

		<div class="post-feed gh-canvas">
			<div class="topic-feed">
			{{#foreach post}}
				{{#has tag="Tablero"}}
                        {{> "loop-image"}}
				{{/has}}
			{{/foreach}}
			</div>
		</div>
	{{/get}}

	{{pagination}}

</main>