{{!< default}}

<main class="site-main">

	<div class="term-container gh-canvas">
		<section class="term">
			<h1 class="term-name">Primeros pasos</h1>
		</section>
	</div>

	{{#get "posts" include="tags" order="published_at asc" filter="tag:hash-franquicias" as |post|}}

		<div class="post-feed gh-canvas">
			<div class="topic-feed">
			{{#foreach post}}
				{{#has tag="Primeros pasos"}}
                        {{> "loop-image"}}
				{{/has}}

				{{else}}
                    <p>No hay publicaciones en esta categoría</p>    
			{{/foreach}}
			</div>
		</div>
	{{/get}}

	{{pagination}}

</main>