{{!< default}}

{{>"tag-search"}}

<main class="site-main">

    {{#tag}}
    <div class="term-container gh-canvas ">
        <section class="term tag-title-underline">
            <h1 class="term-name">{{name}}</h1>
            {{#if description}}
                <div class="term-description">{{description}}</div>
            {{/if}}
        </section>
    </div>
    {{/tag}}
    

    <div class="post-feed gh-canvas">
        <div class="topic-feed">
            {{#foreach posts }}
                {{> "loop-image"}}
            {{/foreach}}
        </div>
    </div>

    {{pagination}}

</main>