<div class="pagination-container gh-canvas">
<nav class="pagination">

    <div class="pagination-left">
        {{#if prev}}
            <a class="newer-posts" href="{{page_url prev}}">← Anterior</a>
        {{/if}}
    </div>

    {{#match pages "!=" 1}}
        <span class="page-number hidden-xs hidden-sm">Página {{page}} de {{pages}}</span>
    {{/match}}

    <div class="pagination-right">
        {{#if next}}
            <a class="older-posts" href="{{page_url next}}">Siguiente →</a>
        {{/if}}
    </div>

</nav>
</div>